:root {
--ice: #f8f6f2; 
--reddish: #e9055b;
--dark-reddish: #bb064b;
--dark-gray: #4c4c4c;
--light-gray: #7b7b7b;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.logo {
    font-family: "League Gothic", sans-serif;
    font-size: 60px;
    background-color: var(--reddish);
    color: var(--ice);
    padding: 5px 15px;
    display: -webkit-inline-box;
}
.content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
main {
    margin: 10px 0;
}

.enabled {
    background-color: var(--reddish);
    color: var(--ice);
    border-color: var(--reddish);
}
.disabled {
    background-color: var(--ice);
    color: var(--dark-gray);
    border-color: var(--light-gray);
}
.icon {
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.row_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    border-top: 1px solid var(--light-gray);
    padding: 18px 0;
    font-size: 21px;
    position: relative;
}
.row_list div, nav div {
    padding: 0 10px;
    width: 12%;
}
.row_list:hover {
    background-color: var(--dark-gray);
    color: var(--ice);
    cursor: pointer;
}
nav div:first-child, .row_list div:first-child {
    width: 30%;
}
nav div:last-child, .row_list div:last-child {
    width: 145px;
    text-align: right;
}
.row_list div span {
    display: none;
    font-size: 14px;
    padding: 5px 0;
}

.icon_arow {
    width: -webkit-fill-available!important;
    margin-right: 20px;
}
.row_list:hover .icon_arow {
    margin: -5px 10px 0 0;
}



@media screen and (max-width: 800px) {
    nav {
        border-bottom: none;
        justify-content: end;
    }
    nav div {
        display: none;
    }
    nav div:last-child {
        display: block;
    }
    .row_list {
        flex-direction: column;
        align-items: self-start;
    }
    .row_list div, .row_list div:first-child, .row_list div:last-child {
        width: calc(100% - 27px);
        padding: 0 10px;
    }
    .row_list div {
        margin-bottom: 10px;
    }
    .row_list div span {
        display: block;
    }
    .row_list div:last-child {
        position: absolute;
        height: 100%;
        width: 27px;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

