#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
.row_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: 18px 0;
    font-size: 21px;
    position: relative;
}
.row_list div, nav div {
    padding: 0 10px;
    width: 12%;
    text-align: center;
    font-weight: 500;
}
nav div {
    font-weight: 400;
}
.row_list:hover {
    background-color: var(--dark-gray);
    color: var(--ice);
    cursor: pointer;
}
nav div:first-child, .row_list div:first-child {
    width: 30%;
    text-align: left;
}
nav div:last-child, .row_list div:last-child {
    width: 145px;
    text-align: right;
}
.row_list div span {
    display: none;
    font-size: 14px;
    padding: 5px 0;
}

.icon_arow {
    width: -webkit-fill-available!important;
    margin-right: 20px;
}
.row_list:hover .icon_arow {
    margin: -5px 10px 0 0;
}
.div_saveing {
    display: flex;
    flex-direction: column;
    color: var(--white);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: var(--reddish);
    top: 0;
    left: 0;
}




@media screen and (max-width: 800px) {

    nav {
        border-bottom: none;
        justify-content: end;
    }
    nav div {
        display: none;
    }
    nav div:last-child {
        display: block;
        width: 100%;
        padding: 0;
    }
    button {
        width: 100%;
    }
    .row_list {
        flex-direction: column;
        align-items: self-start;
        background-color: var(--white);
        margin-bottom: 12px;
    }
    .row_list div, .row_list div:first-child, .row_list div:last-child {
        width: calc(100% - 27px);
        padding: 0 10px;
        text-align: left;
    }
    .row_list div {
        margin-bottom: 10px;
    }
    .row_list div span {
        display: block;
        padding: 1px 0;
    }
    .row_list div:last-child {
        position: absolute;
        height: 100%;
        width: 27px;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

