:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ice: #f8f6f2; 
  --reddish: #e9055b;
  --dark-reddish: #bb064b;
  --dark-gray: #4c4c4c;
  --light-gray: #bdbdbd;
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: var(--ice);
    padding: 13px;
}

button {
    border: 2px solid;
    padding: 10px 14px;
    display: -webkit-inline-box;
    font-weight: 600;
    font-size: 20px;
    min-width: 145px;
}
button:hover {
    filter: brightness(110%);
    cursor: pointer;
}