:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --black: #000000; 
  --ice: #f8f6f2; 
  --reddish: #e9055b;
  --dark-reddish: #bb064b;
  --gray: #666666;
  --dark-gray: #252525;
  --light-gray: #bdbdbd;
  --radius: 50;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px)
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: var(--ice);
    padding: 13px;
}

button {
    border: 2px solid;
    padding: 10px 14px;
    display: -webkit-inline-box;
    font-weight: 600;
    font-size: 20px;
    min-width: 147px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button:hover {
    filter: brightness(120%);
    cursor: pointer;
    gap: 10px;
}

.material {
    font-size: 24px!important;
    cursor: pointer;
}

.material-symbols-outlined {
    display: inline-block !important;
}

.loading {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: -73px;
}
.circle-svg {
    margin: 0 auto;
}
.circle-svg circle {
    stroke: var(--reddish);
    stroke-width: 4;
    fill: transparent;
    transform-origin: center;
    stroke-dasharray: var(--circumference);
    animation: spinner 2s ease-out infinite;
}
.processing circle {
    stroke: var(--ice);
}

.icon-close {
    font-size: 45px;
    color: var(--gray);
}
.icon-close:hover {
    color: var(--black);
}

.div-form {
    position: fixed;
    background-color: var(--white);
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 40px;
    animation-name: slideRightToLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}

label {
    display: block;
}
input {
    width: 100%;
    min-width: 150px;
    border: none;
    border-bottom: 3px solid var(--light-gray);
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 500;
    outline: none;
}
input[type="date"] {
    padding: 18px 0 19px 0;
}

button[type="submit"] {
    background-color: var(--reddish);
    color: var(--ice);
    border-color: var(--reddish);
    width: 100%;
    padding: 20px;
}



.round {
  position: relative;
  text-align: center;
}

.round label {
  background-color: var(--white);
  border: 3px solid var(--dark-gray);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  left: calc(50% - 14px);
}

.round label:after {
  border: 3px solid var(--white);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

#product_name {
    max-width: 100%!important;
}

input:hover {
    border-bottom: 3px solid var(--gray);
}
input:focus {
    border-bottom: 3px solid var(--black);
}

.success-animation { 
    margin: 0 auto;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: var(--ice);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--ice);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--ice);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--reddish);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    transform: rotateZ(0deg)
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    transform: rotateZ(720deg)
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}


@media screen and (max-width: 912px) {
    input {
        font-size: 22px;
    }
    .div-form {
        width: calc(100% - 80px);
    }
    input {
        min-width: 70px;
    }
}

@media screen and (max-width: 554px) {
    .div-form {
        padding: 20px;
        width: calc(100% - 40px);
    }
    input {
        font-size: 20px;
        min-width: 60px;
        max-width: 90%;
    }
    
}