:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ice: #f8f6f2; 
  --reddish: #e9055b;
  --dark-reddish: #bb064b;
  --dark-gray: #252525;
  --light-gray: #bdbdbd;
  --radius: 50;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px)
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: var(--ice);
    padding: 13px;
}

button {
    border: 2px solid;
    padding: 10px 14px;
    display: -webkit-inline-box;
    font-weight: 600;
    font-size: 20px;
    min-width: 147px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.material {
    font-size: 24px!important;
}

.material-symbols-outlined {
    display: inline-block !important;
}

.loading {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
}
.circle-svg {
    margin: 0 auto;
}


.circle-svg circle {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: var(--circumference);
  animation: spinner 2s ease-out infinite;
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    stroke: var(--reddish);
    transform: rotateZ(0deg)
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    stroke: var(--dark-reddish);
    transform: rotateZ(720deg)
  }
}